.title {

 font-family: 'Roboto'sans-serif;

}

.menu__item {
    padding: 0 13px;
}
  .menu__item:last-child {
  padding-right: 0;
}
.header, .main-section {
}
body {
margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
}
.main-section {
}
.wrapper {
  margin: auto;
  width: 80%;
}
.logo, .menu {
   display: inline-block;
}
.logo {
  margin-right: 63%;
  padding: 40px 0;
}
.menu {
  display: flex;
  align-items: center;
}
