.title {
   font-family: 'Roboto'sans-serif;
}

.header, .main-section {
}
body {
   margin: 0;
}
.header {
  display: flex;
   justify-content: space-between;
}
.main-section {
}
.wrapper {
   margin: auto;
   width: 80%;
}
.logo, .menu {
   display: inline-block;
}
.logo {
   padding: 50px 50px 50px 50px;
   padding-left: 48px;
   position: relative;
   margin: 0px 0px 28px;
   font: bold 24px/21px pt_serif, arial, helvetica, sans-serif;
}
.logo__circle {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 28px;
   height: 28px;
   border-radius: 50%;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;

}
.logo__circle_color_dark-blue {
   background: #0056EC;
   opacity: .7;
}

.menu {
   display: flex;
   align-items: center;
}
.menu__item {
   position: relative;
   margin-right: 8px;
   font: 450 18px/11px Roboto, arial, helvetica, sans-serif;
   color: #000000;
   text-decoration: none;
   transition: opacity .5s;
}
.menu__item_active::after {
   position: absolute;
   display: block;
   content: '';
   width: 200%;
   height: 13px;
   background: #0056EC;
}
.menu__item:after {
   position: absolute;
   left: 0;
   display: block;
   content: '';
   width: 0;
   height: 3px;
   background: #0056EC;
   opacity: 0;
   transition: opacity .5s, width .5s;
}
.menu__item:last-child {
   margin-right: 0;
}
.menu__item:hover {
   opacity: 0.5;
}

.menu__item:hover:after {
   position: absolute;
   left: 0;
   display: block;
   content: '';
   width: 100%;
   height: 3px;
   background: #0056EC;
}
.menu__item:hover:after, .menu__item_active:after {
   opacity: 1;
   width: 100%;
}
.main-content {
   width: 57%;
}
.main-content__title {
   margin: 0 0 40px 0;

   font: bold 20px/65px pt_serif, arial, helvetica, sans-serif;
}

.main-content__subtitle {
   margin: 0 0 40px 0;
   font: 18px/21px Roboto, arial, helvetica, sans-serif;
}


.main {
text-align: justify;
background: right no-repeat url(img/mainImg.svg);
background-size: contain;
background-position: right;
width: 1550px;
height: 670px;
}


.main__title {
  font: bold 30px/60px pt_serif, arial, helvetica, sans-serif;
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 66px;
display: flex;
align-items: center;
color: #000000;
max-width: 532px;
line-height: 86px;
margin-top: 86px;
word-spacing: 5px;
}

  .main__subtitle {
  position: absolute;
  width: 400px;
  height: 52px;
  left: calc(50% - 360px/2 - 537.5px);
  top: 593px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  }

.main__button {
  position: absolute;
  width: 270.75px;
  height: 57px;
  left: calc(50% - 124.75px/2 - 652.62px);
  top: 707px;
  background: #0056EC;
  border-radius: 4px;

  .main__title-text_highlight {
    position: absolute;
    width: 250px;
    height: 29px;
    left: calc(50% - 150px/2 - 318px);
    top: 624px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
    color: #FFFFFF;
    border-radius: 4px;
  }
.main__button:hover {
   opacity: .5;
}
